:root {
  --primary-color: #ff69b4; /* Hot Pink */
  --secondary-color: #ffe4e1; /* Misty Rose */
  --background-color: #fff0f5; /* Lavender Blush */
  --button-hover-color: #ff1493; /* Deep Pink */
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
  padding: 20px;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 32px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

.landing-page,
.question-page,
.restaurant-selection,
.scrabble-selection,
.reveal-page,
.invitation-card {
  padding: 20px;
  background: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.invitation-card h1,
.invitation-card p {
  margin: 10px 0;
}

.flowers {
  position: relative;
  height: 100px;
  margin-top: 20px;
}

.flower {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("https://example.com/flower.png");
  background-size: cover;
  animation: float 5s infinite ease-in-out;
}

.flower:nth-child(1) {
  left: 20%;
  animation-duration: 6s;
}

.flower:nth-child(2) {
  left: 50%;
  animation-duration: 4s;
}

.flower:nth-child(3) {
  left: 80%;
  animation-duration: 5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fireworks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  color: var(--primary-color);
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: var(--background-color);
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.fireworks {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  animation: fireworks 2s infinite;
}
